# Test Report

| 🕙 Start time | ⌛ Duration |
| --- | ---: |
| 7/1/2025, 11:15:55 PM | 1.404 s |

| | ✅ Passed | ❌ Failed | ⏩ Skipped | 🚧 Todo | ⚪ Total |
| --- | ---: | ---: | ---: | ---: | ---: |
|Test Suites|6|0|0|0|6|
|Tests|11|0|0|0|11|

## ✅ <a id="file0" href="#file0">src/components/__tests__/HelloWorld.spec.ts</a> [[link](https://github.com/georgegigarib/HR-FE/blob/9f316e12c074364e49543f1d4f29c08681ade46b/src/components/__tests__/HelloWorld.spec.ts)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 152 s

```
✅ HelloWorld
   ✅ renders properly
   ✅ has expected html structure
   ✅ should call toast when clicking on show toast button
```

## ✅ <a id="file1" href="#file1">src/components/__tests__/ThemeSwitch.spec.ts</a> [[link](https://github.com/georgegigarib/HR-FE/blob/9f316e12c074364e49543f1d4f29c08681ade46b/src/components/__tests__/ThemeSwitch.spec.ts)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 39 s

```
✅ ThemeSwitch
   ✅ should mount the component
   ✅ should switch between light and dark themes
   ✅ should accept size prop and apply it
   ✅ should have default size when size prop is not provided
```

## ✅ <a id="file2" href="#file2">src/components/__tests__/ThemeSwitchTwo.spec.ts</a> [[link](https://github.com/georgegigarib/HR-FE/blob/9f316e12c074364e49543f1d4f29c08681ade46b/src/components/__tests__/ThemeSwitchTwo.spec.ts)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 44 s

```
✅ ThemeSwitchTwo
   ✅ should mount the component
   ✅ should switch between light and dark themes
   ✅ should accept size prop and apply it
   ✅ should have default size when size prop is not provided
```
